/*yläpalkki*/
#ylapalkki{
    background: #7A8450;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: "Open sans";
}
#main-menu {
    list-style-type: none;
    color: #2F2504;
    font-family: inherit;
    font-size: 35px;
    margin: auto;
    font-weight: bold;
}
a{
    color: #2F2504;
}
#tml{

}
#eka-linkki{
    padding: 10px;
    font-size: 25px;
}
#toka-linkki{
    padding: 10px;
    font-size: 25px;
}
#kolmas-linkki{
    padding: 10px;
    font-size: 25px;
}
#neljäs-linkki{
    padding: 10px;
    font-size: 25px;
}
#credits{

}
#main-menu a:hover {
    color: #D0DDD7;
    background: #2F2504;
}
/*yläpalkki*/






#map{                 /*kartta*/
    min-width: 500px;
    min-height: 500px;
    margin: auto;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
}




body{
    margin: auto;
    background: #2F2504; /*primary color*/
}
p{
    color: #D0DDD7; /*text color*/
    text-align: center;
    position: relative;
    font-family: "Open sans";
}
.intro-vid{
    width: 500px;
    height: 350px;
    position: center;
    display: block;
    text-align: center;
}
#intro-text{
    text-align: center;
    position: relative;
    color: #7A8450; /*secondary color #7A8450 */
}
h2{
    color: #7A8450;
    font-family: "Open sans";
}
h3{
    color: #7A8450;
    text-align: center;
    font-family: "Open sans";
}
article{
    color: #D0DDD7; /*text color*/
    text-align: center;
}
.intro-pic{
    text-align:center;
    display:block;
    margin: auto;
    padding-bottom: 10px;
    width: 500px;
}

.grid-container {
    background: #000000d0;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 2em;
    border-radius: 30px;
    margin: 10%;
}

.grid-item-1 {
    grid-column: span 3;
}
.grid-item-2 {
    grid-row-start: 2;
}
.grid-item-3 {
    grid-row-start: 2;
}
.grid-item-4 {
    grid-row-start: 2;
}

#eetukuva {
    border-radius: 50%;
}
#eetukuva2 {
    border-radius: 50%;
}
#eetukuva3 {
    border-radius: 50%;
}

figcaption {
    font-family: "Open sans";
    color: #7A8450;
}

#mpklink{
    color: #D0DDD7;
    font-family: "Open sans";
}
#osm{
    color: #D0DDD7;
}
#leaf{
    color: #D0DDD7;
}

#map-saa{
    position: sticky;
    display: flex;
    flex-wrap: wrap;

}
