html{

}
head{

}
body{
background: #2F2504; /*primary color*/
}
p{
    color: #D0DDD7; /*text color*/
}
.intro-vid{
    text-align: center;
}

#intro-text{
    text-align: center;
    color: #7A8450; /*secondary color #7A8450 */
}



/*yläpalkki*/
header{
    background: #7A8450;
    display: flex;
    flex-wrap: wrap;

}
#title{
    color: #2F2504;
    position: absolute;
    margin: auto;

}
#main-menu {
    list-style-type: none;
    color: #2F2504;
    font-family: inherit;
    font-size: 35px;
    margin: auto;
    font-weight: bold;
    position: center;
}
a{
    color: #2F2504;
}
#eka-likki{
    padding: 10px;
}
#toka-likki{
    padding: 10px;
}
#kolmas-likki{
    padding: 10px;
}
#main-menu a:hover {
    color: #D0DDD7;
    background: #2F2504;
}
/*yläpalkki*/



/*kartta*/
#map{
    position: center;
}
/*kartta*/
