#weatherBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Open sans';
}

.card {
    background: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    margin: 1em;
    color: white;
    font-family: "Open sans";
    position: center;
    margin: auto;

}

.search {
    display: flex;
    font-family: inherit;
    text-align:center;
    display:block;
    margin:auto;
}

button {
    margin: 0.5em;
    border-radius: 46px;
    border: none;
    height: 35px;
    width: 90px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 120%;
}

button:hover {
    background: #7c7c7c6b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 46px;
    background: #7c7c7c2b;
    color: white;
    font-size: 105%;
    width: calc(100% - 100px);
}

h1.temp {
    margin: 0;
    margin-bottom: 0.5em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}